<div class="container">
  <div class="user-details">
    <h3> Featured Projects </h3>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="mountains" src="https://www.madatech.org.il/sites/madatech/UserContent/images/Fab-Lab/%D7%A4%D7%90%D7%91%20%D7%9C%D7%90%D7%91%20%D7%9B%D7%9C%D7%9C%D7%99%D7%95%D7%AA%20%D7%A8%D7%90%D7%A9%D7%95%D7%A0%D7%95%D7%AA-5253.jpg" />
    </div>
    <div class="six columns">
      <h5> FabLab </h5>
      <li> MESCE</li>
      <p>"FabLab - MESCE” is digital manufacturing technology, combininig 2D and 3D design with the latest fabrication technology. Embracing a broad spectrum of methods ranging from CNC machining to 3D printing, and even PCB Milling. It can produce a single unique product from a digital design in a matter of minutes- and at a very low cost in comparison to traditional tooling methods. to know more, go through below link</p>
      
 <a href="http://www.fabfoundation.org/">Check it out</a>
    </div>
    <div class="six columns">
      <h5> FABLAB training </h5>
      <ul>
        <li> SYLLABUS</li>
      </ul>
      <p>Day 1 : Introduction to Fablab 
     </p>
           <p>
 Day 2 : Github Pages and Documentation
                 </p> 
           <p>
Day 3: Electronics Production and CNC
                 </p>
           <p>
DAY 4 : Vinyl Cutting
                 </p>
           <p>
DAY 5 : Screen Printing
                 </p>
           <p>
DAY 6 : 3D Printing
                 </p>
           <p>
Day 7 : Laser Cutting,Moulding and Casting
                                
&Project
      </p>

     
 
  <div class="six columns">
    <h5> 3D PRINTING </h5>
     <li> USING ULTIMAKER 2+</li>
      <p>We used SOLIDWORKS and RHINOCEROS to design 3D model and used CURA to generate G CODE for ULTIMAKER. for more details and resources, go through LINK BELOW</p>
   <a href="https://ultimaker.com/en/community/7590-beginners-guide-to-3d-printing">Check it out</a> 
      </div>
</div>
     <div class="row user-projects">
    <div class="six columns">
      <img alt="mountains" src="{{ "/assets/img/IMG_20170818_172930029.jpg" | prepend: site.baseurl }}" />
    </div>
      
      <div class="row user-projects">
    <div class="six columns">
      <img alt="mountains" src="{{ "/assets/img/IMG_20170820_111552031.jpg" | prepend: site.baseurl }}" />
    </div>
         <div class="row user-projects">
    <div class="six columns">
      <img alt="mountains" src="{{ "/assets/img/IMG_20170820_114759594.jpg" | prepend: site.baseurl }}" />
    </div>
           <div class="six columns">
      <h5> LASER CUTTING </h5>
      <li>Using  Epilog Mini 24 Laser Cutter</li>
      <p>For laser cutting, we design 2D dwawings using RHINOCEROS ,SKETCHUP, SOLIDWORKS or any similar software and convert it into pdf format. We can use laser cutter for cutting and engraving in various materials. We can adjust the power, speed,starting position..etc usin print setup. For step by step instructions to operate epilog laser cutter,refer LINK BELOW</p>
      <a href="http://wiki.fablab.is/wiki/How_to_use_the_Epilog_Laser_Mini">Check it out</a>
    </div>
            <div class="row user-projects">
    <div class="six columns">
      <img alt="mountains" src="{{ "/assets/img/IMG_20170818_152650560_HDR.jpg " | prepend: site.baseurl }}" />
    </div>
              <div class="row user-projects">
    <div class="six columns">
      <img alt="mountains" src="{{ "/assets/img/IMG_20170818_155628226.jpg "| prepend: site.baseurl }}" />
    </div>
           
           
      
           <div class="six columns">
      <h5> VINYL CUTTING </h5>
      <li>Using Roland GX-24</li>
      <p>For vinyl cutting using Ronald gx24, we design drawings using CUTSTUDIO. Step by step instructions for operating Roland GX-24 are available atLINK BELOW</p>
       <a href="http://wiki.fablab.is/wiki/How_to_use_the_Roland_GX-24">Check it out</a>
    </div>
                          <div class="row user-projects">
    <div class="six columns">
      <img alt="mountains" src="http://archive.fabacademy.org/2016/fablabkochi/students/385/images/vinyl1.jpg" />
    </div>
                             <div class="row user-projects">
    <div class="six columns">
      <img alt="mountains" src="{{ "/assets/img/IMG_20170819_014043988.jpg "| prepend: site.baseurl }}" />
    </div>
           
      
       </div>
  </div>
</div>
